*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.App{
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.Navigation-bar{
  background-color: #fff;
  overflow: auto;
  align-items: center;
  height: 10vh;
  justify-content: center;
}
.Navigation-bar h3{
  margin-top: 20px;
  position:absolute;
  margin-left: 10vw;
}
.List-items{
  display: flex;
  list-style: none;
  float: right;
  margin-top: 20px;
  margin-right: 15vw;
}
.List-items li a{
  padding: 15px;
  margin: 10px;
  
}
.List-items li a:hover{
  color: #e4e2e2;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}
.Introduction-content{
  max-width: 70vw;
  margin-left: 15vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}
.triangle-input {
  position: relative;
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 5px;
  border-color: #000;
  margin-top: 5vh;
  display: grid; /* add this line */
  place-items: center; /* add this line */
}

.triangle-input::after {
  content: "Click to upload your pictures";
}

.triangle-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.Heading{
  margin-top: 3vh;
}
.Paragraph{
  margin-top: 5vh;
}
#file-names{
  margin-top: 2.5vh;
}
.Compress-Button{
  padding:10px;
  background-color: rgb(29, 115, 255);
  color: #fff;
  margin-top: 2.5vh;
}
.Compress-Button:hover{
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background-color: rgb(130, 178, 251);
}
.My-compressed-list{
  list-style: none;
}
.My-compressed-list a{
  text-decoration: none;
}
h3{
  margin: 2vh;  
}
@media screen and (max-width: 500px) {
  .Navigation-bar{
    background-color: #fff;
    overflow: auto;
    align-items: center;
    height: 10vh;
    justify-content: center;
    display: block;

  }
  .Navigation-bar h3{
    margin-top: 20px;
    position:absolute;
    }
    .List-items{
      display: block;
      list-style: none;
      margin-top: 20px;
    }
}