*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.Navigation-bar{
  background-color: antiquewhite;
  display: flex;
  align-items: center;
}
.Navigation-bar h3{
  
}
.Navigation-bar ul{
  display: flex;
  list-style: none;
  margin-left: 60vw;
}
