*{
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.Navigation-bar{
  background-color: antiquewhite;
  overflow: auto;
  align-items: center;
  height: 10vh;
  justify-content: center;
}
.Navigation-bar h3{
  position:absolute;
}
.List-items{
  display: flex;
  list-style: none;
  float: right;
}
.List-items li a{
  padding: 15px;
  margin: 10px;
}
